.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG {
  
  
}
.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG .playPauseButton:hover {
  background-color: #696969;
}
.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG .ticks {
  font-size: 10px;
}
.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG .handle {
  fill: #fff;
  stroke: #000;
  stroke-opacity: 0.5;
  stroke-width: 1.25px;
}
.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG p {
  font-size: 20px;
  font-weight: bold;
}
.visual-sentinelChartBFDC788B8CFF47158A4F9BFB660DE97D_DEBUG p em {
  background: yellow;
  padding: 5px;
}
